@inject Microsoft.Extensions.Options.IOptionsMonitor<AppSettings> _settings

@using Trail365
@using Trail365.Configuration

@model Trail365.ViewModels.EventCollectionViewModel

@{
    ViewData["Title"] = "Events";
    ViewData["UnreadMessages"] = 0;
    //ViewData["OpenGraphTags"] = Model.CreateOpenGraphTags(this.Url, _settings.CurrentValue.FacebookSettings?.AppId);
    ViewData["NoConsent"] = Model.NoConsent;
}

@if (this.Model.Events.Count > 0)
{
    <div class="row mt-4 mt-lg-2 mb-1">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <partial name="_EventCollection" model="@Model" />
}

@if ((false) && (_settings.CurrentValue.Features.ShareOnFacebook) && (!this.Model.Scraping))
{
    <div class="row no-gutters">
        <div class="col">
            <a href="@this.Url.GetNewsUrl(true,true)">
                <p class="text-center fg-grey font-weight-bold">Teilen</p>
            </a>
            <p class="text-center">
                <a href="@this.Url.GetFacebookHRefUrlForNewsShare()"><img src="~/img/share/facebook.png" /></a>
            </p>
        </div>
    </div>
}
