@model Trail365.ViewModels.TrailCollectionViewModel
@{
    ViewData["Title"] = "Home";
    ViewData["UnreadMessages"] = 0;
}

@if (this.Model.Items.Any())
{
    <div class="row mt-4 mt-lg-2 mb-1">
        <div class="col">
            &nbsp;
        </div>
    </div>

    <partial name="_TrailCollection" model="@Model" />
}

