
@using Trail365
@using Trail365.Entities
@using Trail365.ViewModels

@model Trail365.ViewModels.StoryViewModel
@{
    int itemIndex = 0;
}

@HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, Model.Excerpt, string.Empty)


@while (itemIndex < Model.Blocks.Count)
{
    var currentItem = Model.Blocks[itemIndex];


    if (currentItem.BlockType == StoryBlockType.Image)
    {
        var items = Model.GetCurrentImageGroup(itemIndex);

        <div class="row">
            @foreach (var item in items)
            {
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <img class="img-responsive story-album-image" src="@item.ImageUrl" />
                @if (!string.IsNullOrEmpty(item.Content))
                {
                   <span class="storyblock-image-caption">@item.Content</span>
                }
            </div>
            }
        </div>
        itemIndex += items.Count;
        continue;
    }

    if (currentItem.BlockType == StoryBlockType.Text)
    {
        @HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, currentItem.Content, string.Empty);
    }

    itemIndex += 1;
}
