@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h2 class="headline">Trail 365 - Backend</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr class="border-top" />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Benutzer
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Trails" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Trails
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Events" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Events
        </a>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <a asp-controller="Tasks" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Logs
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Stories" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Stories
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Places" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Orte
        </a>
    </div>
</div>

<div class="row">

    <div class="col-4">
        <a asp-controller="Blobs" asp-action="Index" class="btn btn-primary d-block">
            <i class="fa fa-arrow-transparent">&nbsp;</i>
            Alle Blobs
        </a>
    </div>

    <div class="col-4">
        <span>&nbsp;</span>
    </div>

    <div class="col-4">
        <span>&nbsp;</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr class="border-top" />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr class="border-top" />
    </div>
</div>
